body {
  background-color: #111;
  color: #0ff;
  font-family: sans-serif;
  text-align: center;
  padding-top: 50px;
}

/* 
    canvas {
      image-rendering: pixelated;
      width: 960px;   /* 4x upscale of 240px */
      height: 640px;  /* 4x upscale of 160px */
    } */
